<!DOCTYPE html>
<html lang="es">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>JarcieriaLimpiaMax</title>

<meta name="DenisCampos" content="Codevelopers">

<link rel="stylesheet" href="css/style.css">

<script src="https://kit.fontawesome.com/737fd1bed5.js" crossorigin="anonymous"></script>

</head>
<body>

<!--Encabezado-->
<header class="seace_header">
<img src="img/ttpp.webp">
<h1>Jarciería</h1>
<div class="clearfix"></div>
<nav>
<a href="index.html">
<i class="fas fa-home"></i>Inicio
</a>
<a href="detalle.producto.html">
<i class="fas fa-spray-can"></i>Productos
</a>
<a href="ofertas.html">
<i class="fas fa-tags"></i>Ofertas
</a>

<a href="compras.html">
<i class="fas fa-cart-shopping"></i>Compras
</a>

<a href="sesion.html">
<i class="fas fa-user"></i>Iniciar Sesión
</a>

</nav>

</header>


<!--Banner-->

<div class="seace_banner">

<img src="img/Banner.png">

</div>


<!--Subtitulo-->

<header class="seace_sub">

<div>

<h2>Lo más vendido</h2>

</div>

</header>

<!--Galeria-->

<div class="seace_container">


<div class="seace_gallery">

<a href="detalle.producto.html">
<img src="img/cloro.jpeg">
</a>

<div class="seace_desc">

<p>Cloralex</p>
<p id="precio">$35</p>

</div>

</div>

<div class="seace_gallery">

<a href="detallesalvo.html">
<img src="img/salvo.jpeg">
</a>

<div class="seace_desc">

<p>Salvo</p>
<p id="precio">$45</p>

</div>

</div>


<div class="seace_gallery">

<a href="detallesuavitel.html">
<img src="img/suavitel.jpeg">
</a>

<div class="seace_desc">

<p>Suavitel</p>
<p id="precio">$28</p>

</div>

</div>


<div class="seace_gallery">

<a href="detallefoca.html">
<img src="img/foca.png">
</a>

<div class="seace_desc">

<p>Jabón Foca</p>
<p id="precio">$45</p>

</div>

</div>


<div class="seace_gallery">

<a href="detalleestropajo.html">
<img src="img/estropajo.jpeg">
</a>

<div class="seace_desc">

<p>Estropajo</p>
<p id="precio">$35</p>

</div>

</div>


<div class="seace_gallery">

<a href="detalleairwick.html">
<img src="img/airwik.jpeg">
</a>

<div class="seace_desc">

<p>Air Wick</p>
<p id="precio">$45</p>

</div>

</div>


<div class="seace_gallery">

<a href="detalletrapeador.html">
<img src="img/trapeador.jpeg">
</a>

<div class="seace_desc">

<p>Trapeador</p>
<p id="precio">$28</p>

</div>

</div>


<div class="seace_gallery">

<a href="detalleesponja.html">
<img src="img/esponja.jpeg">
</a>

<div class="seace_desc">

<p>Esponja</p>
<p id="precio">$45</p>

</div>

</div>

<div class="seace_gallery">

<a href="detallearomatizante.html">
<img src="img/aromatizantes.png">
</a>

<div class="seace_desc">

<p>Aromatizante</p>
<p id="precio">$98</p>

</div>

</div>

<div class="seace_gallery">

<a href="detalleblancan.html">
<img src="img/blacanieves.png">
</a>

<div class="seace_desc">

<p>Blanca nieves</p>
<p id="precio">$45</p>

</div>

</div>

<div class="seace_gallery">

<a href="detallepapelp.html">
<img src="img/petalo.png">
</a>

<div class="seace_desc">

<p>Papel Petalo</p>
<p id="precio">$14</p>

</div>

</div>

<div class="seace_gallery">

<a href="detallesaba.html">
<img src="img/saba.png">
</a>

<div class="seace_desc">

<p>Saba</p>
<p id="precio">$10</p>

</div>

</div>


<div class="seace_gallery">

<a href="detalledestapador.html">
<img src="img/destapador.png">
</a>

<div class="seace_desc">

<p>Destapador de Cocina</p>
<p id="precio">$96</p>

</div>

</div>

<div class="seace_gallery">

<a href="detallepasta.html">
<img src="img/pasta.dental.png">
</a>

<div class="seace_desc">

<p>Pasta Dental</p>
<p id="precio">$15</p>

</div>

</div>

<div class="seace_gallery">

<a href="detalleshampoo.html">
<img src="img/shampoo.png">
</a>

<div class="seace_desc">

<p>Shampoo</p>
<p id="precio">$74</p>

</div>

</div>

<div class="seace_gallery">

<a href="detallepasta.html">
<img src="img/pastilla para ba.png">
</a>

<div class="seace_desc">

<p>Pastilla de WC</p>
<p id="precio">$60</p>

</div>

</div>

</div>


<!--Footer-->

<footer class="seace_footer">

<br>

<p>LimpiaMax S.A. de C.V.</p>

<p>

Ignacio Aldama 10 de Mayo Netzahualcóyotl<br>
Teléfono: 5544518373<br>

&#169; Codevelopers<br>

<i class="fa-brands fa-facebook" style="color:rgb(34,107,237);"></i>
Denis Campos<br>

<i class="fa-brands fa-instagram" style="color:rgb(237,41,174);"></i>
Denis Campos13<br>

</p>

</footer>

</body>
</html>