<!DOCTYPE html>
<html lang="es">

<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Producto</title>
<meta name="DenisCampos" content="Codevelopers">
<link rel="stylesheet" href="css/style.css">
<script src="https://kit.fontawesome.com/737fd1bed5.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="css/style_detalle.css">

</head>

<body>

<!--Encabezado-->
<header class="seace_header">
<img src="img/ttpp.webp">
<h1>Jarciería</h1>
<div class="clearfix"></div>
<nav>

<a href="index.html">
<i class="fas fa-home"></i>Inicio
</a>

<a href="detalle.producto.html">
<i class="fas fa-spray-can"></i>Productos
</a>

<a href="ofertas.html">
<i class="fas fa-tags"></i>Ofertas
</a>

<a href="compras.html">
<i class="fas fa-cart-shopping"></i>Comprar
</a>

<a href="sesion.html">
<i class="fas fa-user"></i>Iniciar Sesión
</a>

</nav>
</header>
<!--Subtitulo-->
<header class="seace_sub">
<div>
</div>
</header>
<div class="movs_detail">
    <img src="img/aromatizantes.png" alt="Aromatizante">
    <div class="movs_decdetail">
        <p>Aromatizante</p>
        <p>
            Calidad <br>
            Durabilidad<br>
            Aroma Agradable<br>
            No Contaminable<br>
            Ideal Para El Hogar<br>
            Precio Accesible
        </p><br>
        <p id="detailPrec">$98</p><br>
        <p><i class="fas fa-truck"></i>Envio gratis a todo el pais</p><br>
       <button id="btncomprar" type="button" onclick="alert('Próximamente')">
<i class="fas fa-cart-shopping"></i> Comprar
</button>
</div>
</div>
<footer class="seace_footer">
<br>
<p>LimpiaMax S.A. de C.V.</p>

<p>

Ignacio Aldama 10 de Mayo Netzahualcóyotl<br>
Teléfono: 5544518373<br>

&#169; Codevelopers<br>

<i class="fa-brands fa-facebook" style="color:rgb(34,107,237);"></i>
Denis Campos<br>

<i class="fa-brands fa-instagram" style="color:rgb(237,41,174);"></i>
Denis Campos13<br>

</p>

</footer>
</body>
</html>